examples/Node-Red/ex04_Node-Red-Compare-Adc-data/flows.json
[{"id":"b37791df88547348","type":"uart read","z":"e4efa6a2a0e32e7d","name":"COM3:115200","com":"COM3","baud":"115200","x":170,"y":160,"wires":[["ccaeb01f12a543e9"]]},{"id":"ca53313d42651938","type":"split","z":"e4efa6a2a0e32e7d","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":160,"wires":[["02341b5f8e8426a1"]]},{"id":"ccaeb01f12a543e9","type":"change","z":"e4efa6a2a0e32e7d","name":"","rules":[{"t":"move","p":"payload.cmdex","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["ca53313d42651938"]]},{"id":"02341b5f8e8426a1","type":"switch","z":"e4efa6a2a0e32e7d","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":200,"wires":[["98cbeddbf724dd57"],["30e3d7c3c826a177"],["7d8a20ebb02da589"],["a998ba77d712862c"]]},{"id":"f63c485d42a6e3d3","type":"debug","z":"e4efa6a2a0e32e7d","name":"ADC0 is Number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":100,"wires":[]},{"id":"7d8a20ebb02da589","type":"debug","z":"e4efa6a2a0e32e7d","name":"ADC2 is String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":320,"wires":[]},{"id":"a998ba77d712862c","type":"debug","z":"e4efa6a2a0e32e7d","name":"ADC3 is String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":360,"wires":[]},{"id":"98cbeddbf724dd57","type":"change","z":"e4efa6a2a0e32e7d","name":"String To Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[["a3b6e6ef314cb1ef","f63c485d42a6e3d3"]]},{"id":"30e3d7c3c826a177","type":"change","z":"e4efa6a2a0e32e7d","name":"String To Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["ef54cd81cd9f96bf"]]},{"id":"a3b6e6ef314cb1ef","type":"switch","z":"e4efa6a2a0e32e7d","name":"IF Else ADC0","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1.5","vt":"num"},{"t":"lt","v":"1.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":160,"wires":[["5694831462300d89"],["e797c43b97ac3a30"]]},{"id":"5694831462300d89","type":"led control","z":"e4efa6a2a0e32e7d","name":"LED:0:ON","ledId":"0","ledAction":"1","x":1310,"y":140,"wires":[["c484e76c79f952cf"]]},{"id":"c484e76c79f952cf","type":"uart write","z":"e4efa6a2a0e32e7d","name":"COM3:115200","com":"COM3","baud":"115200","x":1480,"y":180,"wires":[]},{"id":"e797c43b97ac3a30","type":"led control","z":"e4efa6a2a0e32e7d","name":"LED:0:OFF","ledId":"0","ledAction":"0","x":1310,"y":200,"wires":[["c484e76c79f952cf"]]},{"id":"05eccb0e05bfe656","type":"comment","z":"e4efa6a2a0e32e7d","name":"อ่านเพื่อทำความเข้าใจ","info":"ปรับค่า Voltage ADC0 ที่ proteus\nหากค่ามากกว่าหรือเท่ากับ 1.5 ไฟ LED 0 ที่ proteus จะติด หากน้อยกว่า ไฟ LED 0 จะดับ\n\n\n** Block String to Number ใน Node-Red สร้างขึ้นเพื่อแปลงค่าจาก String เป็น Number เพื่อให้สามารถเปรียบเทียบค่าได้","x":1350,"y":280,"wires":[]},{"id":"ef54cd81cd9f96bf","type":"debug","z":"e4efa6a2a0e32e7d","name":"ADC1 is Number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":240,"wires":[]}]