examples/Node-Red/ex01-Read-Adc/flows.json
[{"id":"38ede6376e0a2ec9","type":"uart read","z":"19bbea48be7ec1a7","name":"COM3:115200","com":"COM3","baud":"115200","x":130,"y":120,"wires":[["a1ce2caa5d7f7d2c"]]},{"id":"a1ce2caa5d7f7d2c","type":"change","z":"19bbea48be7ec1a7","name":"","rules":[{"t":"move","p":"payload.cmdex","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["56eee9c2b7bf33fb"]]},{"id":"56eee9c2b7bf33fb","type":"debug","z":"19bbea48be7ec1a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]}]