examples/Node-Red/ex02-Read-Multi-Adc/flows.json
[{"id":"b37791df88547348","type":"uart read","z":"19bbea48be7ec1a7","name":"COM3:115200","com":"COM3","baud":"115200","x":190,"y":140,"wires":[["ccaeb01f12a543e9"]]},{"id":"ca53313d42651938","type":"split","z":"19bbea48be7ec1a7","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":140,"wires":[["02341b5f8e8426a1"]]},{"id":"ccaeb01f12a543e9","type":"change","z":"19bbea48be7ec1a7","name":"","rules":[{"t":"move","p":"payload.cmdex","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["ca53313d42651938"]]},{"id":"02341b5f8e8426a1","type":"switch","z":"19bbea48be7ec1a7","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":240,"wires":[["f63c485d42a6e3d3"],["ef54cd81cd9f96bf"],["7d8a20ebb02da589"],["a998ba77d712862c"]]},{"id":"f63c485d42a6e3d3","type":"debug","z":"19bbea48be7ec1a7","name":"ADC0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"ef54cd81cd9f96bf","type":"debug","z":"19bbea48be7ec1a7","name":"ADC1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"7d8a20ebb02da589","type":"debug","z":"19bbea48be7ec1a7","name":"ADC2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"a998ba77d712862c","type":"debug","z":"19bbea48be7ec1a7","name":"ADC3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]}]